/*
Font Name: Noto Sans Thai
Weights: 100, 200, 300, 400, 500, 600, 700, 800
*/

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/noto-sans-thai/notosans-thin.woff2') format('woff2'),
        url('../fonts/noto-sans-thai/notosans-thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/noto-sans-thai/notosans-extralight.woff2') format('woff2'),
        url('../fonts/noto-sans-thai/notosans-extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/noto-sans-thai/notosans-light.woff2') format('woff2'),
        url('../fonts/noto-sans-thai/notosans-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/noto-sans-thai/notosans-regular.woff2') format('woff2'),
        url('../fonts/noto-sans-thai/notosans-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/noto-sans-thai/notosans-medium.woff2') format('woff2'),
        url('../fonts/noto-sans-thai/notosans-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/noto-sans-thai/notosans-semibold.woff2') format('woff2'),
        url('../fonts/noto-sans-thai/notosans-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/noto-sans-thai/notosans-bold.woff2') format('woff2'),
        url('../fonts/noto-sans-thai/notosans-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/noto-sans-thai/notosans-extrabold.woff2') format('woff2'),
        url('../fonts/noto-sans-thai/notosans-extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/noto-sans-thai/notosans-black.woff2') format('woff2'),
        url('../fonts/noto-sans-thai/notosans-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Thai';
    src: url('../fonts/noto-sans-thai/notosansthai-thin.woff2') format('woff2'),
        url('../fonts/noto-sans-thai/notosansthai-thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Thai';
    src: url('../fonts/noto-sans-thai/notosansthai-extralight.woff2') format('woff2'),
        url('../fonts/noto-sans-thai/notosansthai-extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Thai';
    src: url('../fonts/noto-sans-thai/notosansthai-light.woff2') format('woff2'),
        url('../fonts/noto-sans-thai/notosansthai-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans Thai';
    src: url('../fonts/noto-sans-thai/notosansthai-regular.woff2') format('woff2'),
        url('../fonts/noto-sans-thai/notosansthai-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Thai';
    src: url('../fonts/noto-sans-thai/notosansthai-medium.woff2') format('woff2'),
        url('../fonts/noto-sans-thai/notosansthai-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Thai';
    src: url('../fonts/noto-sans-thai/notosansthai-semibold.woff2') format('woff2'),
        url('../fonts/noto-sans-thai/notosansthai-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Thai';
    src: url('../fonts/noto-sans-thai/notosansthai-bold.woff2') format('woff2'),
        url('../fonts/noto-sans-thai/notosansthai-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Thai';
    src: url('../fonts/noto-sans-thai/notosansthai-extrabold.woff2') format('woff2'),
        url('../fonts/noto-sans-thai/notosansthai-extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Thai';
    src: url('../fonts/noto-sans-thai/notosansthai-black.woff2') format('woff2'),
        url('../fonts/noto-sans-thai/notosansthai-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/*
Font Name: Noto Serif Thai
Weights: 100, 200, 300, 400, 500, 600, 700, 800
*/

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/noto-serif-thai/notoserif-thin.woff2') format('woff2'),
        url('../fonts/noto-serif-thai/notoserif-thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/noto-serif-thai/notoserif-extralight.woff2') format('woff2'),
        url('../fonts/noto-serif-thai/notoserif-extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/noto-serif-thai/notoserif-light.woff2') format('woff2'),
        url('../fonts/noto-serif-thai/notoserif-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/noto-serif-thai/notoserif-regular.woff2') format('woff2'),
        url('../fonts/noto-serif-thai/notoserif-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/noto-serif-thai/notoserif-medium.woff2') format('woff2'),
        url('../fonts/noto-serif-thai/notoserif-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/noto-serif-thai/notoserif-semibold.woff2') format('woff2'),
        url('../fonts/noto-serif-thai/notoserif-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/noto-serif-thai/notoserif-bold.woff2') format('woff2'),
        url('../fonts/noto-serif-thai/notoserif-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/noto-serif-thai/notoserif-extrabold.woff2') format('woff2'),
        url('../fonts/noto-serif-thai/notoserif-extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/noto-serif-thai/notoserif-black.woff2') format('woff2'),
        url('../fonts/noto-serif-thai/notoserif-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif Thai';
    src: url('../fonts/noto-serif-thai/notoserifthai-thin.woff2') format('woff2'),
        url('../fonts/noto-serif-thai/notoserifthai-thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif Thai';
    src: url('../fonts/noto-serif-thai/notoserifthai-extralight.woff2') format('woff2'),
        url('../fonts/noto-serif-thai/notoserifthai-extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif Thai';
    src: url('../fonts/noto-serif-thai/notoserifthai-light.woff2') format('woff2'),
        url('../fonts/noto-serif-thai/notoserifthai-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif Thai';
    src: url('../fonts/noto-serif-thai/notoserifthai-regular.woff2') format('woff2'),
        url('../fonts/noto-serif-thai/notoserifthai-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif Thai';
    src: url('../fonts/noto-serif-thai/notoserifthai-medium.woff2') format('woff2'),
        url('../fonts/noto-serif-thai/notoserifthai-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif Thai';
    src: url('../fonts/noto-serif-thai/notoserifthai-semibold.woff2') format('woff2'),
        url('../fonts/noto-serif-thai/notoserifthai-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif Thai';
    src: url('../fonts/noto-serif-thai/notoserifthai-bold.woff2') format('woff2'),
        url('../fonts/noto-serif-thai/notoserifthai-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif Thai';
    src: url('../fonts/noto-serif-thai/notoserifthai-extrabold.woff2') format('woff2'),
        url('../fonts/noto-serif-thai/notoserifthai-extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif Thai';
    src: url('../fonts/noto-serif-thai/notoserifthai-black.woff2') format('woff2'),
        url('../fonts/noto-serif-thai/notoserifthai-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
