.container {
    width: 100%;
    max-width: $container-max-widths;
    padding-right: $spacer;
    padding-left: $spacer;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$grid-gutter-width;
    margin-left: -$grid-gutter-width;
}

%grid-column {
    position: relative;
    width: 100%;
    padding-right: $grid-gutter-width;
    padding-left: $grid-gutter-width;
}

@if $grid-columns > 0 {
    @for $i from 1 through $grid-columns {
        .col {
            @extend %grid-column;
        }
    }
}

@each $infix, $screen-min-width in $grid-breakpoints {
    @media (min-width: $screen-min-width) {
        @if $grid-columns > 0 {
            @for $i from 1 through $grid-columns {
                .col-#{$infix}-#{$i} {
                    flex: 0 0 percentage($i / $grid-columns);
                    max-width: percentage($i / $grid-columns);
                }
            }

            @for $i from 0 through $grid-columns {
                .offset-#{$infix}-#{$i} {
                    margin-left: percentage($i / $grid-columns);
                }
            }
        }
    }
}
