// Color systems
$white: #ffffff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000000;

$primary: $gray-800;

// Spacing
$spacer: 1rem;

// Typhography
$font-family-noto-sans-thai: 'Noto Sans Thai', 'Noto Sans', system-ui, -apple-system, 'Helvetica Neue', Arial, sans-serif;
$font-family-noto-serif-thai: 'Noto Serif Thai', 'Noto Serif', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-family-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;

$font-size-base: 16px;
$line-height-base: 1.5;

$paragraph-margin-bottom: 1rem;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$headings-font-family: $font-family-noto-sans-thai;
$headings-font-style: normal;
$headings-font-weight: 500;
$headings-line-height: 1.5;
$headings-color: $gray-900;
$headings-margin-bottom: $spacer / 2;

// Body
$body-bg: $white;
$body-color: $gray-600;
$body-padding-top: 60px;

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: none;
$link-transition-color: color .15s ease-in-out;

// Grid
$grid-columns: 24;
$grid-gutter-width: $spacer;

$grid-breakpoints: (
    xs: 0,
    sm: 414px,
    md: 750px,
    lg: 1200px
);

$container-max-widths: 960px;

// Component
$border-width: 1px;
$border-color: $gray-300;
$border-radius: .25rem;

$box-shadow: 0 .5rem 1rem rgba($black, .15);

$transition-base: all .3s;
$transition-fade: opacity .3s;

$transition-collapse-width: width .35s;
$transition-collapse-height: height .35s;

// Nav
$nav-link-font-family: $font-family-noto-sans-thai;
$nav-link-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
$nav-link-padding-y: $spacer / 2;
$nav-link-padding-x: $spacer;
$nav-link-color: $gray-400;
$nav-link-hover-color: $primary;
$nav-link-active-color: $primary;
$nav-link-active-border-color: $primary;

// Button
$btn-padding-y: .375rem;
$btn-padding-x: .75rem;
$btn-font-size: $font-size-base;
$btn-line-height: $line-height-base;
$btn-transition-base: color .15s ease-in-out, border-color .15s ease-in-out;
$btn-color: $gray-400;
$btn-border-color: $gray-400;

$btn-hover-color: $primary;
$btn-hover-border-color: $primary;

$btn-rounded-padding-y: $btn-padding-y;
$btn-rounded-padding-x: $btn-padding-x;
$btn-rounded-border-radius: 24px;

// Navbar
$navbar-height: 60px;
$navbar-bg: $white;
$navbar-font-family: $font-family-noto-sans-thai;
$navbar-box-shadow: 0 .5rem 2.5rem $gray-200;

$navbar-padding-y: .625rem;
$navbar-padding-x: 0;

$navbar-nav-link-padding-x: $spacer / 2;
$navbar-nav-link-border-width: $border-width * 2;

$navbar-logo-font-size: $font-size-base * 2.5;
$navbar-logo-line-height: 28px;

$navbar-toggle-padding-y: $spacer / 2;
$navbar-toggle-padding-x: $spacer / 2;

$navbar-bar-color: $primary;
$navbar-bar-bg: $gray-900;
$navbar-bar-border-radius: $border-radius;
$navbar-bar-margin-top: 7px;

// Card
$card-border-radius: $border-radius;
$card-text-font-size: $font-size-base * .875;

$card-padding-y: $spacer;
$card-padding-x: $spacer;
