<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>ATOM - Full-Stack Web Developer</title>
    <meta name="description" content="This is a personal blog created to sharing knowledge, posts and presentation myself.">
  </head>
  <body>
    <noscript>
      <strong>Oops!, Sorry but my site doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
