<template>
  <section class="blog-about">
    <div class="container">
      <div class="blog-headline">
        <h3 class="h4">
          ABOUT ME
        </h3>
      </div>
      <p>Just a developer with love a website development. The beginning of myself use service at the internet cafe, therefore wondering and curious how to create a website and that is starting of life. Now, I was working in about website development and still intends improve skills to become a professional website developer.</p>
    </div>
  </section>
</template>

<style lang="scss">
.blog-about {
  margin-bottom: 4rem;
}
</style>
