<template>
  <section id="hireme" class="blog-hireme">
    <div class="container">
      <div class="blog-headline">
        <h3 class="h4">
          HIRE ME?
        </h3>
      </div>
      <div class="row">
        <div class="col col-md-12">
          <p>Are you finding a full-stack web developer? You got an idea to build a project but finding someone to develop your product is difficult. Contact to me at any time, let me help you to your goals.</p>
          <a class="btn btn-bordered btn-rounded" href="https://resume.io/r/4qKH2NSTc" target="_blank">
            Get My Resume
          </a>
        </div>
        <div class="col col-md-10 col-lg-8 offset-md-2 offset-lg-4">
          <address>
            <h6>ADDRESS</h6>
            <p>Pakkret, Nonthaburi 11120</p>
            <h6>TELEPHONE</h6>
            <p><a href="tel:+66857015930">+6685-701-5930</a>, <a href="tel:+66861691993">+6686-169-1993</a></p>
            <h6>EMAIL</h6>
            <p><a href="mailto:a.sumranphan@gmail.com">a.sumranphan@gmail.com</a></p>
          </address>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss">
.blog-hireme {
  background: $gray-100;
  padding-top: $spacer * 4;
  padding-bottom: $spacer * 4;

  address a {
    color: $gray-600;

    &:hover {
      color: $primary;
    }
  }

  .btn {
    margin-top: $spacer;
    margin-bottom: $spacer;
  }
}
</style>
