<template>
  <div id="blog" class="blog-posts">
    <div class="container">
      <div class="blog-headline">
        <h3 class="h4">
          LATEST ARTICLES
        </h3>
      </div>
      <div v-if="posts.length > 0" class="posts-items">
        <article
          v-for="(post, index) in posts"
          :key="index"
          class="posts"
        >
          <h5 class="posts-title">
            <a :href="post.link">{{ post.title }}</a>
          </h5>
          <div class="posts-meta">
            <span class="tag-on">
              <blog-fa-icon class="fa-icon" :icon="['far', 'folder']"/> <a :href="post.tag.link">{{ post.tag.name }}</a>
            </span>
            <span class="posted-on">
              <blog-fa-icon class="fa-icon" :icon="['far', 'clock']"/> {{ post.published_at | convertPublishedAt }}
            </span>
          </div>
          <p class="posts-excerpt">{{ post.excerpt }}</p>
        </article>
      </div>
      <div v-else class="blog-empty">
        No article yet.
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      posts: []
    }
  },

  filters: {
    convertPublishedAt (date) {
      var d = new Date(date)
      var months = ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.']
      var convert = []

      convert.push('วันที่')
      convert.push(d.getDate())
      convert.push(months[d.getMonth()])
      convert.push(d.getFullYear() + 543)
      convert.push('เวลา')
      convert.push(('0' + d.getHours()).slice(-2) + ':' + ('0' + d.getMinutes()).slice(-2))
      convert.push('น.')

      return convert.join(' ')
    }
  }
}
</script>

<style lang="scss">
.blog-posts {
  margin-bottom: $spacer * 4;

  .posts-items {
    .posts:not(:last-child) {
      margin-bottom: $spacer;
      border-bottom: $border-width solid $gray-200;
    }
  }

  .posts-title,
  .posts-meta {
    margin-bottom: $spacer / 4;
  }

  .posts-meta {
    font-size: $font-size-base * .875;

    span:not(:last-child),
    .fa-icon {
      margin-right: $spacer / 2;
    }
  }
}
</style>
